trigger:
  branches:
    include:
      - Test
      - master

pool:
  vmImage: ubuntu-latest

variables:
- group: NetlifySecret

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'

- script: |
    npm install
    npm install -g @angular/cli
    if [ "$(Build.SourceBranchName)" = "master" ]; then
      ng build --configuration production
    else
      ng build --configuration development
    fi
  displayName: Build Angular

# Dev deploy
- script: |
    npm install -g netlify-cli
    netlify deploy \
      --dir=dist \
      --auth $(NETLIFY_TOKEN)
  condition: eq(variables['Build.SourceBranchName'], 'Test')

# Prod deploy
- script: |
    npm install -g netlify-cli
    netlify deploy \
      --dir=dist \
      --prod \
      --auth $(NETLIFY_TOKEN)
  condition: eq(variables['Build.SourceBranchName'], 'master')
