trigger:
  branches:
    include:
      - Test
      - master

pool:
  vmImage: ubuntu-latest

stages:
- stage: BuildTest
  displayName: Build Test
  variables:
    FRONTEND_ENV: development
  jobs:
    - job: Build
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '20.x'
        - script: |
            npm install -g @angular/cli
            npm install
            ng build --configuration $(FRONTEND_ENV)
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: dist
            ArtifactName: angular-drop
            publishLocation: Container

- stage: BuildMaster
  displayName: Build Master
  variables:
    FRONTEND_ENV: production
  jobs:
    - job: Build
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '20.x'
        - script: |
            npm install -g @angular/cli
            npm install
            ng build --configuration $(FRONTEND_ENV)
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: dist
            ArtifactName: angular-drop
            publishLocation: Container
