

.about {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* Bottom background (main image) */
       background-color: #FF9000;
}
.about>.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 0 !important;
    /* IMPORTANT */
    margin-top: 40px ;
    gap: 1rem;
}

p {
font-family: 'Saira', sans-serif;
font-size: 20px;
color: white;
padding: 20px;
padding-left: 40px;
padding-right: 40px;
}

a{
    color: rgb(255, 255, 255);  
    font-family: 'Saira', sans-serif;
     font-size: 18px;
    text-underline-offset: 4px;
    
}
a:hover{
    color: black
}
@media (max-width: 768px) {

    p,span,a{
        font-size: 12px;
        text-align: center;
    }
    span>.subtitle{
        font-size: 14px !important;
    }
    .about>.container {
        margin-top: 52px !important;
    }
}
