

.experience {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* Bottom background (main image) */
       background-color: white;
}
.experience>.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 0 !important;
    /* IMPORTANT */
        margin-top: 40px ;
    gap: 1rem;
}



/* Timeline container */
.timeline {
  position: relative;
  margin-left: 80px;
}

/* Vertical line */
.timeline-item::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 22px; /* same as dot center */
  width: 2px;
  height: calc(100% + 50px);
  background: #FF9000;
}

/* Remove line after last item */
.timeline-item:last-child::before {
  display: none;
}

/* Each item */
.timeline-item {
    font-family: 'Saira', sans-serif;
  position: relative;
  padding-left: 40px;
  margin-bottom: 50px;
}

/* Dot */
.timeline-item .dot {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 14px;
  height: 14px;
  background:  #FF9000;
  border-radius: 50%;
}

/* Card */


.content h3 {
  margin: 0;
  padding-top: -1px;
  font-size: 20px;
  color: #FF9000;
}

.company {
  font-weight: 600;
  margin: 6px 0;
}

.duration {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.desc {
  line-height: 1.6;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 14px;
}

.skill {
  padding: 6px 14px;
  border: 1.5px solid #d6d6d6;
  border-radius: 999px;
  font-size: 14px;
  font-family: "Saira", sans-serif;
  background-color: #fff;
  color: #000;
  white-space: nowrap;
  cursor: default;
}
.skill:hover {
  background-color: #f3f6ff;
  border-color: #FF9000;
}

@media (max-width: 768px) {
.content{
  padding-right: 5px;
}
}
