

.contact {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* Bottom background (main image) */
       background-color:white;
}
.contact>.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 0 !important;
    /* IMPORTANT */
    margin-top: 50px !important;
    gap: 1rem;
}