

.contact {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* Bottom background (main image) */
       background-color:white;
       
}
.contact>.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    /* IMPORTANT */
    margin-top: 40px ;
    gap: 1rem;
}


.contact-container {
    margin-top: -20px;
        align-self: center;
  background: #FF9000;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
  justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}



.subtitle {
  font-size: 14px;
  color: white;
  font-family: 'Saira', sans-serif;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 400px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2c5364;
  box-shadow: 0 0 0 2px rgba(44, 83, 100, 0.2);
}

.submit-btn {
    width: 170px !important;
      font-family: 'Saira', sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background:black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
  background: #ffffff;
  color: black;
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: translateY(0);
}
.error {
  color: #eb182a;
  font-size: 12px;
  align-self: flex-start;
  margin-top: 4px;
    font-family: 'Saira', sans-serif;
}
.form-group{
     display: flex;
  flex-direction: column;
    align-items: flex-start;
}
