.floating-nav {
  position: fixed;
  top: 13px;              
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 1.5rem;
  padding: 12px 24px;
cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  border-radius: 999px;   /* pill shape */

border: 1px solid #FF9000;
  z-index: 1000;
}
/* .floating-nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: transform 0.2s ease;
 
} */
.floating-nav a {
  position: relative;       
  display: inline-block;     
  
  text-decoration: none;
  color: #000;
  font-weight: 500;
   font-family: "Saira", sans-serif;
}
.floating-nav a:hover {
  transform: translateY(-2px);
}
.floating-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(26, 42, 148);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.floating-nav a.active::after {
  width: 30%;
}
.section {
  min-height: 100vh;
}
#cursorCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* allows clicks through canvas */
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.floating-contact{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  position: fixed;
  top: 91.5%;  
  gap: 1rem;
  background-color: #FF9000;
  border-radius: 0px 80px 80px 0px;
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 2px;
}
.contacticon{
  align-self: center;
  cursor: pointer;

}
.contacticon:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .floating-contact{
     top: 91%; 
     height: 38px;
     width: 160px;
     gap: 0.8rem;
  }
}
