/* You can add global styles to this file, and also import other style files */



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

app-root {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
