.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* Bottom background (main image) */
    background-color: white;
}



.home>.container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 0 !important;
    /* IMPORTANT */
    margin: 0 !important;
    gap: 1rem;
}

.profile {
    width: 42%;
    /* fixed width */
    flex: 0 0 40%;
}

.intro {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}

.name {
    margin-top: 220px;
    margin-right: 10px;
    line-height: 1.6;
    text-align: center !important;
    width: 500px;
    font-size: 20px;
    color: black;
    font-family: "Saira", sans-serif;
}

.sub-name {
    line-height: 1.2;
    font-family: "Protest Riot", sans-serif;
    font-size: 45px;
    text-align: center !important;
    font-style: normal;
    color: #FF9000;
    
}

.profile img {
    width: 100%;
    height: auto;
    display: block;
}

.divider {
    margin-top: 120px;
    padding-left: 1px;
    width: 5px;
    height: 350px;
    background-color: #FF9000;
    /* adjust */
    /* background-color: rgb(26, 42, 148, 100); */
}

.Head {
    font-family: "Allura", cursive;
    font-size: 40px;
    color: #FF9000;
}

.info {

    margin-top: 140px;
    font-size: 18px;
    /* color: rgb(26, 42, 148, 100); */
    color:black;
    font-family: "Saira", sans-serif;
}